#
# hiusb Host Controller Drivers
#
comment "hiusb(ehci/ohci) Host Controller Drivers"
	depends on USB

menuconfig HIUSB_HOST2_0
	bool "hiusb2.0 usb host support"
	depends on ARCH_HI3535 || ARCH_HI3516A || ARCH_HI3518EV200
	default y if ARCH_HI3535 || ARCH_HI3516A || ARCH_HI3518EV200
	select USB
	select USB_ARCH_HAS_EHCI
	select USB_ARCH_HAS_OHCI
	help
          This selects the usb(ehci/ohci) family usb host.
	  Say Y to enable hisi usb2.0 controller driver.
	  IF you do not use usb2.0 device in your board,
	  say N to get a smaller uImage. Mostly you need it.

if HIUSB_HOST2_0
config HIUSB_HOST
	bool "hisilicon usb host controller support"
	depends on ARCH_HI3535 || ARCH_HI3516A || ARCH_HI3518EV200
	default y if ARCH_HI3535 || ARCH_HI3516A || ARCH_HI3518EV200
	help
	  You can select host mode by the option.
	  when you select the option, usb2 host
	  control will be initialization.
	  But you should add ehci and ohci driver option.

config HIUSB_EHCI
	bool "hiusb-ehci usb host device support"
	depends on ARCH_HI3535 || ARCH_HI3516A || ARCH_HI3518EV200
	default y if ARCH_HI3535 || ARCH_HI3516A || ARCH_HI3518EV200
	help
	  Enable hisi ehci controller driver.
	  Say Y to enable hisi usb2.0 ehci controller driver.
	  IF you do not use usb2.0 ehci device in your board, say N to get a
	  smaller uImage. Mostly you need it.

config HIUSB_EHCI_IOBASE
	hex "hiusb-ehci IO address"
	default "0x10040000" if ARCH_HI3535
	default "0x100b0000" if ARCH_HI3516A || ARCH_HI3518EV200

config HIUSB_EHCI_IOSIZE
	hex "hiusb-ehci IO size"
	default "0x00010000"
	help
	  default is 0x10000.

config HIUSB_EHCI_IRQNUM
	int "hiusb-ehci irq number"
	default "54" if ARCH_HI3535
	default "53" if ARCH_HI3516A
	default "15" if ARCH_HI3518EV200
	help
	  Please use the default value in this Kconfig, The default value
	  is the right value provided by hisi.

config HIUSB_OHCI
	bool "hiusb-ohci usb host device support"
	depends on ARCH_HI3535 || ARCH_HI3516A  || ARCH_HI3518EV200
	default y if ARCH_HI3535 || ARCH_HI3516A || ARCH_HI3518EV200
	help
	  Enable hisi ohci controller driver.
	  Say Y to enable hisi usb2.0 ohci controller driver.
	  IF you do not use usb2.0 ohci device in your board, say N to get a
	  smaller uImage. Mostly you need it.

config HIUSB_OHCI_IOBASE
	hex "hiusb-ohci IO address"
	default "0x10030000" if ARCH_HI3535
	default "0x100a0000" if ARCH_HI3516A || ARCH_HI3518EV200

config HIUSB_OHCI_IOSIZE
	hex "hiusb-ohci IO size"
	default "0x00010000"
	help
	  default is 0x10000.

config HIUSB_OHCI_IRQNUM
	int "hiusb-ohci irq number"
	default "53" if ARCH_HI3535
	default "54" if ARCH_HI3516A
	default "16" if ARCH_HI3518EV200
	help
	  Please use the default value in this Kconfig, The default value
	  is the right value provided by hisi.
endif # HIUSB_HOST2_0

menuconfig HIUSB_DEVICE2_0
	bool "hiusb2.0 usb device support"
	depends on ARCH_HI3516A || ARCH_HI3518EV200
	default y if ARCH_HI3516A || ARCH_HI3518EV200
	select USB_GADGET_DUALSPEED
	select USB_GADGET_SELECTED
	help
          This selects the usb(ehci/ohci) family usb device.
	  Say Y to enable hisi usb2.0 controller driver.
	  IF you do not use usb2.0 device in your board,
	  say N to get a smaller uImage. Mostly you need it.

if HIUSB_DEVICE2_0

config HIUSB_DEVICE
	tristate "hisilicon highspeed device controller version 3.00a driver"
	depends on ARCH_HI3516A || ARCH_HI3518EV200
	default y if ARCH_HI3516A || ARCH_HI3518EV200
	help
	  You can select device mode by the option.
	  Enable hisi ehci controller driver.
	  Say Y to enable hisi usb2.0 ehci controller driver.
	  IF you do not use usb2.0 ehci device in your board, say N to get a
	  smaller uImage. Mostly you need it.

config HIUSBUDC_REG_BASE_ADDRESS
	hex "hisilicon highspeed device control register base address"
	default "0x10080000" if ARCH_HI3516A || ARCH_HI3518EV200

config HIUSBUDC_REG_BASE_ADDRESS_LEN
	hex "hisilicon highspeed device control register size length"
	default "0x40000" if ARCH_HI3516A || ARCH_HI3518EV200

config HIUSBUDC_IRQ_NUMBER
	int "hisilicon highspeed device interrupt number"
	default "55" if ARCH_HI3516A
	default "10" if ARCH_HI3518EV200

config HIUSBUDC_DMA_BUF_LENGTH
	int "hisilicon highspeed device dma buffer length"
	default "16384" if ARCH_HI3516A || ARCH_HI3518EV200

config HIUSBUDC_PHY_UTMI_BITWIDTH
	int "hisilicon highspeed device phy interface utmi bitwidth"
	default "8"
endif # HI_HS_DEVICE
