menu "HI3518EV200 board feature"

config MACH_HI3518EV200
	bool "Support hi3518ev200 platform"
	select CPU_ARM926T
	select ARM_VIC
	select ARM_TIMER_SP804
	help
	  Include support for the Hisilion HI3518EV200 platform.
	  HI3518EV200 support ARM926T processer,
	  within a Generic Interrupt Controller.
	  Support DDR2 and DDR3.
choice
        prompt "CPU timer source"
        default HAVE_SP804_LOCAL_TIMER_HI3518EV200

config HAVE_SP804_LOCAL_TIMER_HI3518EV200
	bool "arm local timer from sp804"
	help
	  arm local timer from sp804.
	  if you choice sp804 as local timer,
	  please select HAVE_SP804_LOCAL_TIMER_HI3518EV200,
	  if you choice arm selt as local timer,
	  please select HAVE_ARM_LOCAL_TIMER.

config HAVE_ARM_LOCAL_TIMER_HI3518EV200
	bool "arm local timer from arm self"
	help
	  arm local timer from arm self.
	  if you choice sp804 as local timer,
	  please select HAVE_SP804_LOCAL_TIMER_HI3518EV200,
	  if you choice arm selt as local timer,
	  please select HAVE_ARM_LOCAL_TIMER.

endchoice
config DEFAULT_BUSCLK
	int "DEFAULT_BUSCLK"
	default "60000000"
	help
	  Default AHB clock rate

endmenu

