BR2_arm=y
BR2_ENABLE_DEBUG=y
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="3.0.8"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_0=y
BR2_UCLIBC_CONFIG="board/hisilicon/hi3518/uClibc-0.9.33.config"
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_LTO=y
BR2_GCC_ENABLE_OPENMP=y
BR2_GCC_ENABLE_LIBMUDFLAP=y
BR2_GCC_ENABLE_GRAPHITE=y
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_TARGET_GENERIC_HOSTNAME="hi3518"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL_PATH="linux/linux-3.0.y"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/hisilicon/hi3518/linux-3.0.config"
BR2_PACKAGE_BUSYBOX_CONFIG="board/hisilicon/hi3518/busybox.config"
BR2_PACKAGE_KEXEC=y
BR2_PACKAGE_KEXEC_ZLIB=y
BR2_PACKAGE_GETTEXT=y
BR2_PACKAGE_HIMPP=y
BR2_PACKAGE_HIMPP_EXTDRV_HI_I2C=y
BR2_PACKAGE_HIMPP_EXTDRV_PWM=y
BR2_PACKAGE_HIMPP_EXTDRV_SSP_SONY=y
BR2_PACKAGE_HIMPP_SAMPLES=y
BR2_PACKAGE_HIMPP_SNS_SONY_IMX122=y
BR2_PACKAGE_HIMPP_SAMPLES_VENC=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_LIVE555=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
BR2_TARGET_ROOTFS_TAR_XZ=y
