BR2_arm=y
BR2_CCACHE=y
BR2_ENABLE_DEBUG=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_4=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
# BR2_UCLIBC_INSTALL_UTILS is not set
BR2_BINUTILS_VERSION_2_32_X=y
BR2_GCC_VERSION_9_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_LTO=y
BR2_GCC_ENABLE_GRAPHITE=y
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_GDB_VERSION_8_3=y
BR2_TARGET_GENERIC_HOSTNAME="hi35xx"
BR2_TARGET_GENERIC_ISSUE="Welcome to hi35xx-buildroot"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_ROOTFS_OVERLAY="board/hisilicon/hi3518/fs-overlay"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL_PATH="linux/linux-3.4.y"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/hisilicon/hi3518/linux-3.4.config"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_XZ=y
BR2_PACKAGE_BUSYBOX_CONFIG="board/hisilicon/hi3518/busybox.config"
BR2_PACKAGE_LIVE_STREAMER=y
BR2_PACKAGE_BITSTREAM_VERA=y
BR2_PACKAGE_HIMPP=y
BR2_PACKAGE_HIMPP_HI3518V200=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_LUAJIT=y
BR2_PACKAGE_LUA_PERIPHERY=y
BR2_PACKAGE_SIMPLEDBUS=y
BR2_PACKAGE_JSONCPP=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
BR2_TARGET_ROOTFS_TAR_XZ=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="hi3518ev200"
BR2_TARGET_UBOOT_CUSTOM_LOCAL=y
BR2_TARGET_UBOOT_CUSTOM_LOCAL_PATH="boot/uboot/u-boot-2010.06"
BR2_TARGET_UBOOT_HI35XX_IMAGE=y
BR2_TARGET_UBOOT_HI35XX_IMAGE_CH_FILE="board/hisilicon/hi3518/boot/reg_info_hi3518ev200.bin"
BR2_TARGET_UBOOT_ENVIMAGE=y
BR2_TARGET_UBOOT_ENVIMAGE_SOURCE="board/hisilicon/hi3518/uboot-env.txt"
BR2_TARGET_UBOOT_ENVIMAGE_SIZE="0x40000"
